P {
    text-align: center;
    font-weight: bold;
}
.LogoImagen {
max-width: 5.50%;
}
.BordeLogo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-text-stroke: 1px #9e9e9e;
    font-weight: bold;
    color: #efb810;
}
.slogan{
    font-size: 35px;
    text-align: center;
    color: #000000;
}
.ImagenOnix{
    max-width: 100%;
}
header {
    font-size: 24px;
    text-align: left;
    background-color: #000000;
}
body {
    background-color: #ffffff;
    color: #caa500;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
section {
    padding: 20px;  
}
footer {
    background-color: #ffffff;
    color: #fff;
    padding: 20px 0; 
}
.footer-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center; 
}
nav {
background-color: #ffffff;
padding: 5px;
}
nav ul {
list-style: none;
margin: 0;
padding: 0;
text-align: center;
}
nav ul li {
display: inline-block;
margin-right: 20px;
}
nav ul li a {
color: #727070;
text-decoration: none;
padding: 8px 16px;
border-radius: 5px;
}
nav ul li a:hover {
    color: #4f6fff;
    text-decoration: underline #4f6fff 5px;
}
